/* COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A */

/* Global Styles */
* {
    margin: 0;
    padding: 0px;
}

.left-text {
    text-align: left;
    margin-left: 5px;
}

/* Header Styles */
.aHead {
    height: 150px;;
    background-color: #FFDBAA;
    border-bottom: solid;
    border-width: 1.3px;
    display: flex;
}

.wordHead {
    text-align: left;
    padding: 10px;
    margin-right: 15%;
    color: #553100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.bPosition {
    text-align: right;
    margin-left: 10%;
}

.buttonish {
   background-color: #805215;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-size: 18pt;
   width: 120px;
   height: 60px;
   margin: 20px;
   border: none;
}

/* Body Styles */

    /* Section 1 */

.mainB {
    background-color: #D4A76A;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    padding: 30px;
}

.buttonish2 {
    background-color: #805215;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15pt;
    width: 100%;
    height: 50px;
    border-color: black;
    margin-top: 30px;
    display: block;
 }

.box1 {
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.6);
    padding: 17px;
}

.box2 {
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.6);
    padding: 17px;
}

.box3 {
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.6);
    padding: 17px;
}

    /* Section 2 */

.mainB2 {
    background-color: #D4A76A;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    padding: 70px;
}

.box4 {
    background-color: white;
    width: 1400px;
    height: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.6);
    padding: 17px;
}

.buttonish3 {
    background-color: #805215;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15pt;
    height: 50px;
    border-color: black;
    margin-top: 10px;
    display: block;
    width: 100%;
}